{% extends 'base.html.twig' %}

{% block title %}Create Category{% endblock %}

{% block body %}

<h1 class="h3 mb-3">Create Category</h1>

{{ include('category/_form.html.twig', {'button_label': 'Save'}) }}

<a class="btn btn-link mt-2" href="{{ path('app_category_index') }}">← Back</a>

{% endblock %}
